/* Variables for easy customization with JS */
:root {
    --primary-bg-color: #1f1f1f;
    --secondary-bg-color: #181818;
}

/* Putting the main layout colors I will use in classes for easy assignment */
.primary-bg {
    background-color: var(--primary-bg-color);
}

.secondary-bg {
    background-color: var(--secondary-bg-color);
}

.white-text {
    color: white;
}

/* Main body customization */
body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    height: 100vh;
    background-color: var(--primary-bg-color);
}

/* Put the profile icon in the top right */
#profile-icon {
    height: 3rem;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    margin: 2%;
}

/* Content box class to create the housing for features */
.content-box { 
    height: 90vh;
    width: 30vw;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
}

/* Task list customization */
#task-housing {
    grid-row: 2;
    grid-row-end: 4;
}

.control-menu { /* Create the layout for feature controls */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

#task-search {
    color: white;
    border-radius: 12px;
    border-color: black;
    width: 20vw;
}

#task-search:focus {
    outline: none;
}

.control-button {
    height: 2.5rem;
}