/* Variables for easy customization with JS */
:root {
    --primary-bg-color: #1f1f1f;
    --secondary-bg-color: #181818;

}

/* Setting the main layout colors I will use to classes for easy assignment */
.primary-bg {
    background-color: var(--primary-bg-color);
}

.secondary-bg {
    background-color: var(--secondary-bg-color);
}

.white-text {
    color: white;
}

/* Main body customization */
body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    height: 100vh;
    background-color: var(--primary-bg-color);
}

/* Put the profile icon in the top left */
#profile-icon {
    height: 3rem;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    margin: 2%;
}

.content-box { /* Content box class to create the housing for features */
    height: 90vh;
    width: 30vw;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
}

/* Task list customization */
#task-list {
    grid-row: 2;
    grid-row-end: 4;
}

.control-menu { /* Create the layout for feature controls */
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.control-button {
    height: 2.5rem;
}